/* app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 225 67% 8%;
        --foreground: 0 0% 100%;

        --primary: 207 100% 37%;
        --primary-foreground: 0 0% 100%;

        --card: 222 36% 18%;
        --card-foreground: 0 0% 100%;

        --muted: 207 100% 29%;
        --muted-foreground: 207 98% 54%;

        --border: 207 100% 29%;

        --destructive: 0 84% 60%;
        --destructive-foreground: 0 0% 100%;
    }
}

@layer base {
    body {
        @apply bg-background text-foreground;
        font-feature-settings: "rlig" 1, "calt" 1;
    }

    h1, h2, h3, h4, h5, h6 { @apply font-bold tracking-tight; }
    h1 { @apply text-4xl; }
    h2 { @apply text-3xl; }
    h3 { @apply text-2xl; }

    a, button {
        @apply ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring focus-visible:ring-offset-2;
        --tw-ring-color: hsl(var(--primary));
    }

    .panel-handle {
        @apply relative transition-colors;
    }
    .panel-handle:hover > div,
    .panel-handle[data-resize-handle-state="drag"] > div {
        @apply bg-primary;
    }
    .panel-handle > div {
        @apply bg-border transition-colors w-1 h-full mx-auto;
    }
}